[submodule "roles/consul"]
	path = roles/consul
	url = git@github.com:tmtk75/ansible-consul.git
[submodule "roles/serf"]
	path = roles/serf
	url = git@github.com:tmtk75/ansible-serf.git
[submodule "roles/dnsmasq"]
	path = roles/dnsmasq
	url = git@github.com:tmtk75/ansible-dnsmasq.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = git@github.com:tmtk75/ansible-elasticsearch.git
[submodule "roles/td-agent"]
	path = roles/td-agent
	url = git@github.com:tmtk75/ansible-td-agent.git
